

.mat-menu-panel {
    max-width: none !important;
  }
  .module-menu {
    .mat-menu-content {
      display: flex;
    }
  }
  .search-bar {
    .mat-form-field-wrapper {
      padding-bottom: 0 !important;
    }
  }

  .Layout-btn{
    position: absolute;
width: 85px;
height: 38px;
left: 291px;
top: 14px;
background-color: red;
  }

  .header-Btn{
    
width: 40px;
height: 38px;
border-radius: 10px;
border-width: 0.4px;

  }
