<div class="d-flex justify-content-between flex-row" style="padding: 0.5rem 1rem; background-color: #EAF0FF; font-family: ubuntu;">
  <div class="col-4 d-flex flex-row">
    <div class="d-flex flex-row">
      <img height="54" width="52" src="../../../assets/PMS Logo.svg" />
      <div
        class="d-flex flex-column"
        style="font-size: 0.625rem; margin-left: 0.25rem">
        <span> Project </span>
        <span> Management </span>
        <span> System </span>
      </div>
    </div>
    <mat-divider [vertical]="true" style="margin: 0.5rem; padding-left: 1.06rem"> </mat-divider>
    <div class="my-auto" style="padding-left: 1.56rem">Projects</div>
    <mat-divider [vertical]="true" style="margin: 0.5rem; padding-left: 1.06rem"> </mat-divider>
    <div class="my-auto" style="padding-left: 1.56rem Layout-btn">
      <button mat-button [matMenuTriggerFor]="menu" class="text-capitalize" style="padding-left: 1.56rem">
        <img [src]="viewImage"/>
        {{ view }}
      </button>
      <mat-menu #menu="matMenu">
        <button
          mat-menu-item
          *ngFor="let item of viewItems"
          class="text-capitalize"
          (click)="setView(item.id, item.image)">
          <img [src]="item.image" />
          
            {{ item.id }}
          
        </button>
      </mat-menu>
    </div>

    <mat-divider [vertical]="true" style="margin: 0.5rem; padding-left: 1.06rem"> </mat-divider>
    <div class="my-auto" style="padding-left: 1.06rem">
      <button
        mat-button
        [matMenuTriggerFor]="moduleMenu"
        class="text-capitalize"
      >
        <img [src]="moduleImage" />
        {{ module }}
      </button>
      <mat-menu #moduleMenu="matMenu" class="module-menu">
        <div
          mat-menu-item
          *ngFor="let item2 of moduleItems"
          class="text-capitalize"
          (click)="setModule(item2.id, item2.image)"
        >
          <img [src]="item2.image" />
          {{ item2.id }}
        </div>
      </mat-menu>
    </div>
  </div>
  <div class="col-5 d-flex flex-row justify-content-end">
  
    <button class="header-Btn" style="margin: 0.5rem; padding-right: 1.8rem;">
      <img src="../../../assets/setting.svg" />
    </button>
    <button class="header-Btn" style="margin: 0.5rem; padding-right: 1.8rem;">
      <img src="../../../assets/notification.svg" />
    </button>
    <div class="d-flex flex-row" style="margin-left: 0.75rem">
      <img
        height="54"
        width="52"
        style="border-radius: 50%"
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      />
      <div
        class="d-flex flex-column"
        style="font-size: 0.75rem; margin-left: 0.25rem"
      >
        <span> Username </span>
        <span> Designation </span>
        <span> Admin </span>
      </div>
    </div>
  </div>
</div>
