<div class="row" style="height: 100%;">
    <div class="col-6">
      <div class="row justify-content-center">
        <img src="../../assets/login card1.png" style="height:100vh; width: auto;">
      </div>
    </div>
    <div class="col-6" style="margin: auto; padding-right: 140px;">
        <div class="text-center">    
            <img src="../../assets/PMS Logo.svg" style="height: 96px; width: 92px;"><br>
            <span style="font-size: 38px;">Welcome!</span><br>
            <span  style="font-size: 18px; color: #8a8a8a;">Manage Your all Project here</span>
        </div>


      <div class="container p-3 backcard mt-4">
        <div class="text-center" style="font-size: 26px; color: #464646;">
            Login
        </div>
     
        <form action="#" class="px-2" >
          <div class="mt-4">
            <div class="card-box row col-12 inputfls inputcontainer">
              <i class="fa fa-user" style="margin: auto"></i>
              <input
              type="text"
              name=""
              placeholder="Username"
              tabindex="10"
              required
              class="col inputfls text-center"
            />
            
            </div>
            <div class="mt-4">
              <div class="card-box row col-12 inputfls inputcontainer">
                <i class="fa fa-lock" style="margin: auto"></i>
                <input
                type="password"
                name=""
                placeholder="Password"
                required
                class="col inputfls text-center"
              />
                
              </div>
              <div class="text-center">
                  <button class="loginbtn col-12 mt-4 ">
                    Login
                  </button>
               </div>
            </div>
          </div>
        </form>
    </div>
<div>
   