

.Add-btn{
    background-color: #4F5B66;
    border-radius: 10px;
    height: 45px;
    width: 110px;
    margin-top: 55px;
    color: White;
    border-width: 0.4px;
}

.dlt-btn{
    background-color: #C51515;
    border-radius: 10px;
    height: 45px;
    width: 110px;
    margin-top: 55px;
    color: white;
    margin-left: 32px;
    border-width: 0.4px;
}

.table{
    width: 100%;
}